# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = douban_spider.settings

[deploy:TencentCloud]
url = http://139.199.194.86:6800/
project = douban_spider
